html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}

.waves-effect {
  display: block;
  border-radius: 4px;
}

#tempGradient {
  padding: 1em;
}

#time {
  padding: 1em;
  font-size: 25px;
}