<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Normalizes Cross Browser CSS -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!-- My CSS -->
  <link rel="stylesheet" href="/css/application.css">
  <!-- JQuery -->
  <script src='js/bower_components/jQuery/dist/jquery.min.js'></script>
  <!-- GMaps JS API With a number of options -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAPS_API'] %>&libraries=visualization&sensor=true_or_false"></script>
  <!-- My Javascript -->
  <script src="/js/application.js"></script>
  <title>Jack's WeatherMap</title>
</head>
<body>
  <%= yield %>
</body>
</html>
