<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Normalizes Cross Browser CSS -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!-- My CSS -->
  <link rel="stylesheet" href="/css/application.css">
  <!-- JQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <!-- Heat map layer API: https://developers.google.com/maps/documentation/javascript/heatmaplayer -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= MAPS_API %>&libraries=visualization&sensor=true_or_false"></script>
  <!-- My Javascript -->
  <script src="/js/application.js"></script>
  <title>Jack's WeatherMap</title>
</head>
<body>
  <%= yield %>
</body>
</html>
